{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
Історія користувача
{% endblock %}

{% block content %}
<div class="main-content d-flex flex-column align-items-center justify-content-center align-content-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center alert-light p-2 mt-3">Зміни в аккаунті користувача</h1>
    <br>
    <span class="w-100 alert alert-primary text-center h4">Дата</span>
    <span class="w-100 alert alert-secondary text-center h4">{{ get_user.date }}</span>
    <span class="w-100 alert alert-primary text-center h4">Дія</span>
    <span class="w-100 alert alert-secondary text-center h4">{{ get_user.action }}</span>
    <span class="w-100 alert alert-primary text-center h4">Оператор</span>
    <span class="w-100 alert alert-secondary text-center h4">{{ get_user.creator }}</span>
    <span class="w-100 alert alert-primary text-center h4">Зміни</span>
    <span class="w-100 alert alert-secondary text-justify h3">
        {% for el in get_user.reason %}
        {{ el }}<br>
        {% endfor %}
    </span>

    <span class="w-100 alert alert-primary text-center h4">Айпі адреса</span>
    <span class="w-100 alert alert-secondary text-center h4">{{ get_user.ip }}</span>
</div>
{% endblock %}