{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
    Початкова сторінка
{% endblock %}

{% block content %}
        <div class="main-content d-flex flex-column">
            <div class="h-25 mb-5">
                <h2><span class="badge badge-dark mb-2 mt-3">Увага!</span></h2>
                <h3 class="pt-3">Ви увійшли в систему адміністрування Інтернет доступу користувачів.<br>
                    <br>Користуватися лише виключно в службових цілях. Використання у особистих інтересах категорично заборонено.</h3>
            </div>
            <div class="h-75 mt-5">
                <h4>Про оновлення буде писатись тут</h4>
                {% for el in a %}
                    <h1>{{ el.passwd }}</h1>
                {% endfor %}

            </div>

        </div>

{% endblock %}
