{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
Сторінка реєстрації
{% endblock %}

{% block content %}


<div class="main-content d-flex flex-column pt-5">
    <form action="" method="post" class="formWithValidation" autocomplete="off">
        <div>
            {% csrf_token %}
            <div class="form-add-part1 h-75 mt-4 mb-5">
                <div class="form-add w-75 input-container">
                    {{ form.login }}
                    <label>Логін користувача<sup>*</sup></label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.document_id }}
                    <label>Номер посвідчення<sup>*</sup></label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.contr_quest }}
                    <label>Контрольне питання</label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.contr_answ }}
                    <label>Контрольна відповідь</label>
                </div>

                <div class="form-add w-75 input-container">
                    {{ form.lname }}
                    <label>Прізвище<sup>*</sup></label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.fname }}
                    <label>Ім'я<sup>*</sup></label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.mname }}
                    <label>По батькові<sup>*</sup></label>
                </div>
            </div>

            <div class="form-add-part2">
                <div class="d-flex">
                    <div class="form-add w-75 mb-4">
                        <label class="univ">Факультет<sup>*</sup><br>
                            {{ form.dept_id }}
                        </label>
                    </div>
                    <div class="form-add w-75 mb-4">
                        <label>Посада<br>
                            {{ form.title_id }}
                        </label>

                    </div>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.title }}
                    <label>Опис посади</label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.email }}
                    <label>Email</label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.phone }}
                    <label>Контактний телефон</label>
                </div>
                <div class="form-add w-75 input-container">
                    {{ form.welcome_msg }}
                    <label>Вітальне повідомлення</label>
                </div>
                <div class="form-add w-75 input-container mt-4">
                    {{ form.exp_date }}
                    <label>Аккаунт дійсний до</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 pb-5">
            <span class="btn btn-secondary prev mr-5">Prev</span>
            <button class="btn btn-success mr-5" type="submit">Додати</button>
            <span class="btn btn-secondary next">Next</span>
        </div>
        <div class="pt-3 mt-1 d-flex flex-column justify-content-center align-items-center">
            <span class="badge badge-warning h3 w-50">{{ error }}</span>
        </div>
        <div class="d-none">
            {{ form.admin_level }}
            {{ form.admin }}
            {{ form.title_id }}
            {{ form.mgroup_id }}
            {{ form.operator }}
            {{ form.state }}
            {{ form.creator }}
        </div>
    </form>
</div>

{% endblock %}
