{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
Зміна строку дії
{% endblock %}

{% block content %}
<div class="main-content d-flex flex-column">
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="d-flex alert alert-secondary m-0 mt-5 pt-5">
            <div class="w-25">
                <p class="h4 text-light p-2">Логін*</p>
            </div>
            <div class="form-add w-75 input-container alert alert-secondary m-0">
                {{ form.login }}
                <label>Логін користувача</label>
            </div>
        </div>
        <div class="d-flex alert alert-secondary m-0 pb-5">
            <div class="w-25 pr-0">
                <p class="h4 text-light p-2">Аккаунт дійсний до*</p>
            </div>
            <div class="form-add w-75 input-container m-0">
                {{ form.exp_date }}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-success" type="submit">Встановити новий строк дії</button>
        </div>
        <div class="mt-5">
          <span class="badge badge-info">{{ error }}</span>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    $('#datepicker-example').datepicker({
    calendarWeeks: true,
    autoclose: true,
    todayHighlight: true
});
var form = document.querySelector('.formWithValidation')
var fields = form.querySelectorAll('#crit')
count = 0
for (var i = 0; i < fields.length; i++) {
    console.log(fields[i].value)
    if (!fields[i].value) {
      $(".form-add-part2").hide();
      break;
    }
    else{
        count++;
    }
    if(count == fields.length){
      $(".form-add-part1").hide();
    }
}

$(".next").click(function(){
    $(".form-add-part1").hide();
    $(".form-add-part2").show();
})
$(".prev").click(function(){
    $(".form-add-part1").show();
    $(".form-add-part2").hide();
})
</script>
{% endblock %}