{% extends 'main/userlayout.html' %}
{% load static %}


{% block title %}
Початкова сторінка
{% endblock %}

{% block content %}
<div class="main-content d-flex flex-column">
    <div class="h-25 mb-5">
        <h2><span class="badge badge-dark mb-2 mt-3">Доброго дня!</span></h2>
        <h3 class="pt-3">Ви увійшли в систему адміністрування.<br>
            <br>Тут ви можете змінити власний пароль та знайти персонал університету.</h3>
        <div class="h-75 mt-5">
            <h4>Про оновлення буде писатись тут</h4>
            <h4></h4>
        </div>
    </div>


</div>

{% endblock %}
