{% extends base_template %}
{% load static %}


{% block title %}
{% if only_view %}
Моя сторінка
{% else %}
Cторінка редагування користувача
{% endif %}
{% endblock %}


{% block style %}
input {
text-align: center;
}
#datepicker-example{
width: 50%!important;
}
{% endblock %}

{% block content %}


<div class="main-content d-flex flex-column pt-3">
    <form action="" method="post" class="formWithValidation" autocomplete="off">
        {% csrf_token %}
        {% if info %}
        <div class="d-flex justify-content-center">
            <span class="alert alert-danger">{{ info }}</span>
        </div>
        {% endif %}
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary w-50">Департамент : {{userInfo.dept_id}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.dept_id }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Стан : {{userInfo.state}}</h4>
            {% if lvl >= 2 and only_view != True%}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.state }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Логін : {{userInfo.login}}</h4>
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Ім'я : {{userInfo.fname}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.fname }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Прізвище : {{userInfo.lname}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.lname }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">По батькові : {{userInfo.mname}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.mname }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Контрольне питання : {{userInfo.contr_quest}}</h4>
            {% if lvl >= 1 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.contr_quest }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Контрольна відповідь : {{userInfo.contr_answ}}</h4>
            {% if lvl >= 1 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.contr_answ }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Опис посади : {{userInfo.title}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.title }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Імейл : {{userInfo.email}}</h4>
            {% if lvl >= 1 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.email }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Телефон : {{userInfo.phone}}</h4>
            {% if lvl >= 1 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.phone }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="w-50 alert alert-secondary">Дата кінця аккаунту : {{userInfo.exp_date}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.exp_date }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Привітальне повідомлення : {{userInfo.welcome_msg}}</h4>
            {% if lvl >= 1 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.welcome_msg }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Адміністратор : {{userInfo.admin}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.admin }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Ваш номер залікової книги : {{userInfo.document_id}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.document_id }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Створювач : {{userInfo.creator}}</h4>
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Оператор : {{userInfo.operator}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.operator }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Мгроуп : {{userInfo.mgroup_id}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.mgroup_id }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Посада : {{userInfo.title_id}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.title_id }}
            </div>
            {% endif %}
        </div>
        <div class="w-100 d-flex justify-content-between alert-secondary mb-2">
            <h4 class="alert alert-secondary">Рівень адміністратора : {{userInfo.admin_level}}</h4>
            {% if lvl >= 2 and only_view != True %}
            <div class="w-50 d-flex justify-content-center align-items-center">
                {{ form.admin_level }}
            </div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center mt-3 mb-5">
            {% if only_view != True %}
            <button class="btn btn-success" type="submit">Зберегти</button>
            {% else %}
            <a href="{% url 'user-update' get_user.user_id %}" class="btn badge-dark">Редагувати</a>
            {% endif %}
        </div>


    </form>
</div>
{% endblock %}
{% block script %}
<script>
    $('#datepicker-example').datepicker({
    calendarWeeks: true,
    autoclose: true,
    todayHighlight: true
});


</script>
{% endblock %}
