body{
    height: 100vh;
    background-color: #36cbd1;
}
.colout{
    height: 190px;
}
nav{
    height: 100vh !important;
}
.menu{
    width: 20vw;
    background: #bae1e3;
    position: fixed;
}
.main-content{
    margin-left: 20vw;
    background-color: #36cbd1;
    width: 80vw;
}
a.btn{
    width: 90%;
}
a.btn:hover{
    transform: scale(1.1);
    transition: 0.5s;
    font-size: larger;
}
.main-content div{
    padding: 0 20px;
}
.main-content h3{
    text-indent: 10vw;
    text-align: justify;
}
.form-add-part1,
.form-add-part2{
    margin-top: 10vh;
}
span.badge{
    display: block;
}
.form-add{
    font-family: Arial;
    font-size: 1.2em;
    color: white;
}
sup{
    font-size: inherit;
}
.dat{
    margin-top: 150px;
}
.main-content div{
    width: 100%;
}
.univ{
    width: 75%!important;
}

.userDisplay div div{
    border: 2px solid azure;
}
div.alert p.h4{
    height: 3em;
}

.register{
    height: 100vh !important;
    width: 100vw !important;
    background-color: #36cbd1;
}
